/* HOME */

.home__first-section {
    font-family: var(--font-family-inter);
}

.home__first-section > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home__first-section > div > div > button {
    font-family: var(--font-family-inter);
}

.home__first-section > div > div > div {
    font-family: var(--font-family-inter);
}

.home__first-section-header {
    font-weight: 700;
    font-size: 76px;
    font-family: var(--font-family-inter);
}

.home__first-section-text {
    font-family: var(--font-family-poppins);
    font-weight: 400;
    font-size: 22px;
}

.home___first-section-hero_bottom-card {
    font-family: var(--font-family-inter);
}

.home___first-section-hero_bottom-card h3 {
    font-size: 24px;
    font-weight: 600;
}

.home___first-section-hero_bottom-card p {
    font-size: 14px;
    font-weight: 400;
}

.home___first-section-hero_right-card {
    font-family: var(--font-family-inter);
}

.home___first-section-hero_right-card h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font-family-inter);
}

.home___first-section-hero_right-card span {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-family-inter);
}

.home__second-section_first-part > div > div > h1,
.home__second-section_second-part > div > div > h1,
.home__second-section_third-part > div > div > h1 {
    font-weight: 600;
    font-size: 62px;
    font-family: var(--font-family-inter);
}

.home__second-section_first-part > div > div > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-family-inter);
}

.home__second-section_first-part > div > div > div > p {
    font-weight: 600;
    font-size: 18px;
    font-family: var(--font-family-inter);
}

.home__second-section_second-part > div > div > p {
    font-weight: 600;
    font-size: 24px;
    font-family: var(--font-family-inter);
}

.home__second-section_third-part > div > div > div > p {
    font-family: var(--font-family-inter);
    font-size: 24px;
    font-weight: 500;
}

/* NAVBAR */
.navbar-items {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 18px;
}

/* FOOTER */
.footer-links-span {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
}

.footer-links > div {
    line-height: 45px;
}

.footer-links > div > p {
    font-family: var(--font-family-poppins);
    font-weight: 300;
    font-size: 18px;
}

.footer-links-span p {
    font-family: var(--font-family-poppins);
    font-weight: 400;
    font-size: 20px;
}

/* swiper  */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    color: rgb(255, 255, 255) !important; /* Optional: for better visibility */
    z-index: 10;
}

.swiper-button-prev {
    left: 0px; /* Adjust as needed */
}

.swiper-button-next {
    right: 0px; /* Adjust as needed */
}

.swiper-container {
    overflow: visible !important;
}
