/* HOME */

/* NAVBAR */
.home__navbar-items {
    font-family: var(--font-family-navbar);
    font-weight: 600;
    font-size: 18px;
}

/* FOOTER */
.home__footer-links-span {
    font-family: var(--font-family-navbar);
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
}

.home__footer-links > div {
    line-height: 45px;
}

.home__footer-links > div > p {
    font-family: var(--font-family-navbar);
    font-weight: 300;
    font-size: 18px;
}

.home__footer-links-span p {
    font-family: var(--font-family-navbar);
    font-weight: 400;
    font-size: 20px;
}
