/* HOME */

/* .home__first-section {
    font-family: var(--font-family-inter);
}

.home__first-section > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home__first-section > div > div > button {
    font-family: var(--font-family-inter);
}

.home__first-section > div > div > div {
    font-family: var(--font-family-inter);
}

.home__first-section-header {
    font-weight: 700;
    font-size: 76px;
    font-family: var(--font-family-inter);
}

.home__first-section-text {
    font-family: var(--font-family-poppins);
    font-weight: 400;
    font-size: 22px;
}

.home___first-section-hero_bottom-card {
    font-family: var(--font-family-inter);
}

.home___first-section-hero_bottom-card h3 {
    font-size: 24px;
    font-weight: 600;
}

.home___first-section-hero_bottom-card p {
    font-size: 14px;
    font-weight: 400;
}

.home___first-section-hero_right-card {
    font-family: var(--font-family-inter);
}

.home___first-section-hero_right-card h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font-family-inter);
}

.home___first-section-hero_right-card span {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-family-inter);
}

.home__second-section_first-part > div > div > h1,
.home__second-section_second-part > div > div > h1,
.home__second-section_third-part > div > div > h1 {
    font-weight: 600;
    font-size: 62px;
    font-family: var(--font-family-inter);
}

.home__second-section_first-part > div > div > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-family-inter);
}

.home__second-section_first-part > div > div > div > p {
    font-weight: 600;
    font-size: 18px;
    font-family: var(--font-family-inter);
}

.home__second-section_second-part > div > div > p {
    font-weight: 600;
    font-size: 24px;
    font-family: var(--font-family-inter);
}

.home__second-section_third-part > div > div > div > p {
    font-family: var(--font-family-inter);
    font-size: 24px;
    font-weight: 500;
} */

/* ####################################### */
/* DRILLING PAGE */
/* ####################################### */
.drilling__animated-cards-1,
.drilling__animated-cards-2,
.drilling__animated-cards-3 {
    transition: 0.5s;
}
.drilling__animated-cards-1:hover ~ .drilling__animated-cards-2 {
    left: 40%;
}
.drilling__animated-cards-1:hover ~ .drilling__animated-cards-3 {
    left: 70%;
}

.drilling__animated-cards-2:hover {
    left: 22%;
}
.drilling__animated-cards-2:hover ~ .drilling__animated-cards-3 {
    left: 65%;
}

.drilling__animated-cards-3:hover {
    left: 55%;
}
.drilling__animated-cards-3:hover ~ .drilling__animated-cards-2 {
    left: 10%;
}

/* NAVBAR */
.navbar-items {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 18px;
}

/* FOOTER */
/* .footer-links-span {
    font-family: var(--font-family-poppins);
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
}

.footer-links > div {
    line-height: 45px;
}

.footer-links > div > p {
    font-family: var(--font-family-poppins);
    font-weight: 300;
    font-size: 18px;
}

.footer-links-span p {
    font-family: var(--font-family-poppins);
    font-weight: 400;
    font-size: 20px;
} */

/* swiper  */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 98% !important;
    transform: translateY(-50%);
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    color: rgb(255, 255, 255) !important; /* Optional: for better visibility */
    z-index: 1000;
    font-weight: 700 !important;
}

.swiper-button-prev {
    position: absolute;
    left: 40% !important; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.7) !important;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.swiper-button-next {
    position: absolute;
    right: 40% !important; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.7) !important;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.mySwiper {
    overflow: hidden !important;
    position: relative;
}

.swiper-wrapper {
    overflow: visible !important;
    padding-bottom: 50px;
}

.services:hover .services-icon {
    color: rgba(0, 100, 255, 1);
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 8px !important;
    z-index: 0;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.666) !important;
    width: 10px !important;
    height: 10px !important;
}

.textSwiper > .swiper-button-prev {
    position: absolute;
    left: 0% !important; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.7) !important;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.textSwiper > .swiper-button-next {
    position: absolute;
    right: 0% !important; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.7) !important;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
}

/* ANIMATIONS */

.line-animation {
    height: 2px;
    width: 0; /* Start with 0 width */
    border-radius: 2px;
    margin: 0 auto; /* Center the line */
    animation: expandLine 0.3s forwards; /* Animation duration and fill mode */
}

@keyframes expandLine {
    from {
        width: 0; /* Start from 0 width */
    }
    to {
        width: 120%; /* Expand to 120% width */
    }
}

@keyframes down-animation {
    from {
        height: 0; /* Start from 0 width */
    }
    to {
        height: auto; /* Expand to 120% width */
    }
}

@media screen and (max-width: 900px) {
    .swiper-button-prev {
        left: 35% !important;
    }

    .swiper-button-next {
        right: 35% !important;
    }
}

@media screen and (max-width: 769px) {
    .swiper-button-prev {
        left: 35% !important;
    }

    .swiper-button-next {
        right: 35% !important;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 4px !important;
    }
}

@media screen and (max-width: 620px) {
    .swiper-button-prev {
        left: 25% !important;
    }

    .swiper-button-next {
        right: 25% !important;
    }
}

@media screen and (max-width: 400px) {
    .swiper-pagination-bullet {
        background-color: rgba(0, 0, 0, 0.666) !important;
        width: 8px !important;
        height: 8px !important;
    }
}

.PhoneInputInput:focus {
    border: 2px solid #d1d5db;
}

.PhoneInputInput {
    border-radius: 12px;
    width: 100%;
    padding: 12px;
    background-color: #e5e7eb;
    color: #6b7280;
    outline: none;
    border: 1px solid transparent;
    transition: box-shadow 0.2s ease-in-out;
}
