@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --color-primary-blue: #0064ff;
    --color-font-gray: #111827;

    --font-family-poppins: "Poppins", sans-serif;
    --font-family-inter: "Inter", sans-serif;
}
